.app__about {
  width: 100%;
  min-width: 280px !important;
  height: auto;
  position: relative;
}
.app__about-about_us {
  width: 100%;
  height: calc(100vh - 130px);
  position: relative;
  top: 130px;

}
.app__about-about_us img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__about-about_us h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  font-family: var(--font-link);
  text-transform: uppercase;

  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(../../assets/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  font-family: var(--font-link);
  text-transform: uppercase;
  animation: back 20s linear infinite;
  font-weight: 900;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.app__loader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: loader 0.5s ease forwards;
  animation-delay: 4s;
  /* background-color: blue; */
}

@keyframes loader {
  to {
    z-index: -2;
    display: none;
  }
}
.app__loader-left,
.app__loader-right {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.app__loader-span_left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  z-index: 2;
  background-color: var(--color-red);
  animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
  z-index: 9;
}
@keyframes slide-in {
  100% {
    transform: translateY(0%);
    /* z-index: -1; */
  }
}
@keyframes slide-out {
  100% {
    transform: translateY(100%);
  }
}
.app__loader-span_right {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 2;
  background-color: var(--color-red);
  animation: right-slide-in 0.75s ease-out forwards,
    right-slide-out 0.75s 1s ease-out forwards;
  z-index: 9;
}
@keyframes right-slide-in {
  100% {
    transform: translateY(0%);
  }
}
@keyframes right-slide-out {
  100% {
    transform: translateY(-100%);
  }
}

.blur-element-page {
  display: block;
  position: absolute;

  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 8;
  opacity: 1;
  animation: blur-element-go 1s ease-out forwards;
  animation-delay: 1s !important;
}
@keyframes blur-element-go {
  100% {
    opacity: 0;
    display: none !important;
    /* height: 0; */
    z-index: -1;
  }
}

@media screen and (max-width: 1250px) {
  .app__about-about_us {
    height: 80vh;
    /* top: 80px; */
    /* background-color: red; */
  }
}
@media screen and (max-width: 1050px) {
  .app__about-about_us {
    height: 75vh;
    top: 80px;
    /* background-color: red; */
  }
  .app__about-about_us h2 {
    /* font-size: 3rem; */
    /* font-size: 6vw; */
  }
  .app__loader {
    height: 200vh;
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  .app__loader {
    /* width: 100%; */
    height: 100vh;
  }
  .app__about-about_us {
    height: 50vh;
    top: 80px;
    margin-bottom: 3rem;
  }
  /* .app__about-about_us {
    height: 75vh;
    top: 80px;
    background-color: red;
  } */
  .app__about-about_us h2 {
    font-size: 6vw;
  }
  /* .app__loader {
    height: 200vh;
    flex-direction: column;
  } */
}
