.app__button {
  position: relative;
  width: 200px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.app__button:hover .app__button-box-one p {
  transform: translateY(100%);
}
.app__button:hover .app__button-box-tow {
  top: 0;
}
.box-btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.box-btn p {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;
}
.app__button-box-one {
  height: 100%;
  position: relative;
  font-weight:300 ;
}
.app__button-box-one p {
  position: absolute;
  transition: all 0.3s ease;
}
.app__button-box-tow {
  position: absolute;
  top: 100%;
  left: 0;
  font-weight:300 ;
  color: #fff;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1050px) {
  .app__button {
    width: 180px;
    height: 50px;
  }
}
@media screen and (max-width: 850px) {
  .app__button {
    width: 150px;
    height: 45px;
  }
  .box-btn p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  .app__button {
    width: 110px;
    height: 40px;
  }
  .box-btn p {
    font-size: 1rem;
  }
}
