.app__connection {
  width: 100%;
  height: auto;
  /* padding: 2rem; */
  background-color: #f6f5ee;
}
.app__connection-header {
  width: 100%;
  height: auto;

  background-color: red !important;
}
.app__connection-header .app__infos {
  width: 100%;
  height: 60px;
  /* padding: 0.3rem 0 !important; */
  background-color: #f6f5ee;
  border-bottom: 1px solid #00000038 !important;
}

/* !Container */
.app__connection-container {
  width: 100%;
  height: auto;
  /* display: flex;
    flex-direction: column; */
  padding-top: 65px;
  /* background-color: blue; */
}
/* Login and sign up pages */
.app__signIn {
  width: 100%;
  height: auto;
}
.app__signIn-container {
  width: 100%;
  height: 100vh;
  display: flex;

  /* justify-content: center; */
  align-items: center;
}
.app__signIn-container-form {
  flex: 1;
  padding-top: 10rem;
  height: 100%;
  /* background-color: aqua; */
}
.app__signIn-container-form h1{
  text-transform: uppercase;
  font-family: var(--font-link);
padding: 1.5rem 0;
}
.app__signIn-container-form form {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.input{
    width: 100%;
    padding: 1rem;
    outline: none;
    margin: 0 auto;
    /* border-top: 1px solid #00000079 ; */
    border-top:none ;
    border-left: 1px solid #00000038 ;
    border-right: 1px solid #00000038 ;
    background-color: transparent !important;
}

.app__signIn-container-form form label{
    text-align:left !important;
    margin-top: 2rem;
}
.app__signIn-container-form form h2{
    text-align:center ;
    text-transform: uppercase;
    font-family: var(--font-link);
    font-weight: 100 ;
    margin: 1rem 0;
}
.login-btn{
    width: 100%;
    padding: 1rem;
    background-color: #3A3A3A; 
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    transition: all .3s ease; 
}
.login-btn:hover{
  background-color: black; 

}
.register-btn{
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    color: black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2rem;
    border-top:none ;
    border-bottom: 2px solid #00000059 ;
    border-left: 2px solid #00000038 ;
    border-right: 1px solid #cc5d5d38 ;
    transition: all .3s ease; 
}
.register-btn:hover{
  border-bottom: 2px solid #000000b6 ;
  border-left: 2px solid #0000008c ;
  border-right: 2px solid #00000063 ;
}

.app__signIn-container-img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 0, 212);
}
.app__signIn-container-img img {
  width: 70%;
  aspect-ratio: 1/1;
}
