.app__cart {
  position: fixed;
  width: 25%;
  height: 100vh;
  right: -100%;
  top: 0;
  background: #c0bebe;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 150; 
  transition: right 0.4s ease;
  -webkit-box-shadow: -61px -178px 187px -69px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: -61px -178px 187px -69px rgba(0, 0, 0, 0.28);
  box-shadow: -61px -178px 187px -69px rgba(0, 0, 0, 0.28);
}
.app__cart--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid #0000005e;
  margin-bottom: 1rem;
}
.app__cart--header h2 {
  font-family: var(--font-link);
  text-transform: uppercase;
}
.app__cart--container h2 {
  font-family: var(--font-alt);
  text-transform: uppercase;
}
.app__cart h3 {
  font-family: var(--font-link);
  text-transform: uppercase;
  font-size: 1.4rem;
}
.app__cart h4 {
  font-family: var(--font-base);
  text-transform: uppercase;
  font-family: 100;
  font-size: 13px;
}
.app__cart--container {
  position: relative;
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 2rem;
}
.app__cart--container-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  margin-bottom: 2rem;
}
.app__cart--content {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 2px solid #00000031;

}
.app__cart--content .price {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.show-cart.app__cart {
  right: 0;
}
