.app__cardImg {
  width: 100%;
  height: 100%;
  /* background-color: blueviolet; */
}
.app__cardImg-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  animation: img-scale 2.5s ease-out forwards;
}
.app__cardImg-box:hover .card-img {
  transform: scale(1.08);
  animation: move 0.5s linear ease forwards;
}
@keyframes move {
  to {
    transform: scale(1.1);
  }
}
/* .app__cardImg-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
} */

.app__cardImg-box img {
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  animation: img-appearance 0s 1s ease forwards;
}

@keyframes img-appearance {
  100% {
    opacity: 1;
  }
}
@keyframes img-scale {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
