.app__cardCategory {
  width: 150px;
  height: fit-content;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: blueviolet; */
}
.app__cardCategory-img {
  /* align-self: center;
  justify-self: center; */
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-grey);
  overflow: hidden;
  cursor: pointer;
  transition: border 0.5s ease;
  border: 2px solid #ffffff;
  position: relative;
}
.app__cardCategory-img:hover {
  border: 2px solid #909090;
}
.app__cardCategory-img img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* background-color: rebeccapurple; */
  object-fit: cover;
}
.app__cardCategory p {
  font-size: 1rem;
  font-family: var(--font-link);
  font-weight: 100;
  letter-spacing: 2px;
  opacity: 0.6;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .app__cardCategory {
    width: 120px;
  }
  .app__cardCategory-img {
    width: 100px;
    height: 100px;
  }
  .app__cardCategory p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .app__cardCategory {
    width: 100px;
  }
  .app__cardCategory-img {
    width: 90px;
    height: 90px;
  }
  .app__cardCategory p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 850px) {
  .app__cardCategory {
    width: 110px;
  }
  .app__cardCategory-img {
    width: 100px;
    height: 100px;
  }
  .app__cardCategory p {
    font-size: 0.8rem;
  }
}
