.app__products {
  width: 100%;
  height: auto;
  /* position: relative; */
}

.app__products-navbar {
  height: 80px;
  width: 100%;
  border-top: 2px solid #00000034;
}
.app__products-header {
  width: 100%;
  height: 55vh;
  /* position: relative;
  top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: 2px solid #0000001a;
  margin-top: 50px;
}
.app__products-header_box-one {
  width: fit-content;
}
.app__products-header_box-one h1 {
  font-size: 3rem;
  font-family: var(--font-link);
  font-weight: 100;
  text-transform: uppercase;
}

.app__products-header_box-one div {
  font-size: 1rem;
  font-family: var(--font-link);
  font-weight: 100;
  text-align: center;
  opacity: 0.6;
}
.app__products-header_box-two {
  width: auto;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.app__products-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 3.5rem;
}
.app__products-container-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-right: 1rem;
}
.app__products-container-left aside {
  position: sticky;
  top: 50px;
}
.app__products-container-left h3 {
  font-size: 1.5rem;
  font-family: var(--font-link);
  font-weight: 100;
  text-transform: uppercase;
}
.category_smallScreen h3 {
  font-size: 1rem;
  font-family: var(--font-link);
  font-weight: 100;
  text-transform: uppercase;
}
.app__products-container-left ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}
.category_smallScreen ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 14px;
}
.app__products-container-left ul li,
.category_smallScreen ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* font-weight: 400; */
  text-transform: uppercase;
  font-family: var(--font-link);
  font-weight: 100;
  opacity: 0.6;
}
.app__products-container-left ul li:hover,
.category_smallScreen ul li:hover {
  font-weight: bold;
  opacity: 0.8;
}
.app__products-container-left ul li span,
.category_smallScreen ul li span {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e3e3e3;
  font-family: var(--font-alt);
}
.brands-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
}
.brands-container-img {
  width: 24%;
  aspect-ratio: 1/1;
  border: 1px solid #000;
  /* background-image: url("../../assets/brand1.png");
  background-position: center center;
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-container-img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.category_smallScreen {
  display: none;
  padding: 1rem;
}

.app__products-container-right {
  flex: 3;
}
.toggle-categories {
  width: fit-content;
  height: fit-content;
  display: none;
  margin-block: 1rem;
  padding: 0.2rem;
  cursor: pointer;
  border: 2px solid #000000bb;
}
.close-btn {
  width: 90px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  align-self: flex-end;
  cursor: pointer;
}
.head-category-smallScreen {
  width: 100%;
  height: 200px;
  display: none;
  overflow: hidden;
}
.slider-categories {
  width: 100%;
  height: 200px;
  display: flex;
}
.slider-categories article {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider-category {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.slider-category div {
  display: inline-block;
}



.app__loader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: loader 0.5s ease forwards;
  animation-delay: 4s;
}

@keyframes loader {
  to {
    z-index: -2;
    display: none;
  }
}
.app__loader-left,
.app__loader-right {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.app__loader-span_left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  z-index: 2;
  background-color: var(--color-red);
  animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
  z-index: 9;
}
@keyframes slide-in {
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-out {
  100% {
    transform: translateY(100%);
  }
}
.app__loader-span_right {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 2;
  background-color: var(--color-red);
  animation: right-slide-in 0.75s ease-out forwards,
    right-slide-out 0.75s 1s ease-out forwards;
  z-index: 9;
}
@keyframes right-slide-in {
  100% {
    transform: translateY(0%);
  }
}
@keyframes right-slide-out {
  100% {
    transform: translateY(-100%);
  }
}

.blur-element-page {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 8;
  opacity: 1;
  animation: blur-element-go 1s ease-out forwards;
  animation-delay: 1s !important;
}
@keyframes blur-element-go {
  100% {
    opacity: 0;
    display: none !important;
    z-index: -1;
  }
}

@media screen and (max-width: 1250px) {
  .app__products-container {
    padding: 1rem;
  }
}
@media screen and (max-width: 1050px) {
  .app__products-header {
    margin-top: 0;
  }
  .category_bigScreen {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .category_smallScreen {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: -100px;
    background-color: var(--color-grey);
    gap: 2rem;
    z-index: 999;
  }
  .brands-container-img {
    width: 22%;
  }
  .toggle-categories {
    display: block;
  }
}
@media screen and (max-width: 1050px) {
  .app__loader {
    height: 200vh;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .app__products-header_box-one h1 {
    font-size: 2rem;
  }
  .app__products-header_box-one div {
    font-size: 0.8rem;
  }
  .head-category-bigScreen {
    display: none;
  }
  .head-category-smallScreen {
    display: block;
  }
}
